services:
  panager:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ./src:/app/src
    env_file:
      - .env.local
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
